table.navcross {
	position: absolute;
	bottom: 50px;
	right: 30px;
/*	width: 24%;*/
	width: 28%;
	border-spacing:10px;
}

/* buttons */
table.navcross div {
	background-repeat:no-repeat;
	background-size:100%;
	text-align: center;
}
table.navcross div span {
	vertical-align: middle;
	font-style: normal;
	color: #c5c6fd;
	font-size:14;
}
table.navcross div.up {
	background-image:url('img/arrowUp.png');
}
table.navcross div.up:hover {
	background-image:url('img/arrowUpActive.png');
}
table.navcross div.up.disabled {
	background-image:url('img/arrowUpDisabled.png');
}
table.navcross div.right {
	background-image:url('img/arrowRight.png');
}
table.navcross div.right:hover {
	background-image:url('img/arrowRightActive.png');
}
table.navcross div.right.disabled  {
	background-image:url('img/arrowRightDisabled.png');
}
table.navcross div.down {
	background-image:url('img/arrowDown.png');
}
table.navcross div.down:hover {
	background-image:url('img/arrowDownActive.png');
}
table.navcross div.down.disabled  {
	background-image:url('img/arrowDownDisabled.png');
}
table.navcross div.left {
	background-image:url('img/arrowLeft.png');
}
table.navcross div.left:hover {
	background-image:url('img/arrowLeftActive.png');
}
table.navcross div.left.disabled  {
	background-image:url('img/arrowLeftDisabled.png');
}


table.navcross tr.vertical {
	height:50px;
}
table.navcross tr.vertical td.middle {
	width:100px;
}
table.navcross tr.horizontal {
	height:100px;
}
table.navcross tr.vertical div {
	width:100px;
	height:50px;
}
table.navcross tr.horizontal div {
	width:50px;
	height:100px;
}
table.navcross tr.vertical div span {
	line-height: 50px; 
}
table.navcross tr.horizontal div span {
	line-height: 100px; 
}


td.minimap {
	text-align: center;
	color: #c5c6fd;
	line-height: 14px;
}
td.minimap table {
	border-spacing: 0px;
	border-collapse: collapse;
	width:100%;
}
td.minimap table tr {
	line-height:14px;
	height:14px;
}