body, button, a, div {
	color: white;
	font-family: Calibri,Helvetica,Arial;
	font-weight: bold;
	font-size: 18;
	font-style: italic;
}

body {
	background-color: #000000;
}

button {
	background-color: Transparent;
}

a {
	text-decoration: none;
}