.dropbtn {
	background-image: url('img/btnOffSmall.png');
    background-size: 187px 45px;
	height: 45px;
	width: 187px;
    background-repeat: no-repeat;
    border: none;
	text-align: right;
	padding-right: 20px;
	white-space: nowrap;
}

.dropbtn.active {
	background-image: url('img/btnOnSmall.png');
}

.dropbtn:hover, .dropbtn:focus {
	background-image: url('img/btnOnSmall.png');
}

.dropbtn.disabled {
	color:#808080;
}

.dropbtn.disabled:hover, .dropbtn.disabled:focus {
	background-image: url('img/btnOffSmall.png');
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
}
.dropdown-content.opaque {
	background-color: #000000;
}

.dropdown-content a {
    display: block;
	padding-right: 20px;
	padding-top: 11px;
}

.dropdown-entry {
	background-image: url('img/btnOffSmall.png');
    background-size: 187px 45px;
	height: 45px;
	width: 187px;
    background-repeat: no-repeat;
	text-align: right;
}

.dropdown-entry.selected {
	background-image: url('img/btnOnSmall.png');
}

.dropdown-entry:hover, .dropdown-entry:focus {
	background-image: url('img/btnOnSmall.png');
}

.show {
	display: block;
}