div.data {
	/*position: absolute;
	top: 50px;
	right: 30px;*/
	width: 360px;
        max-width: 360px;
	max-height: 100%;
        /*min-width: 300px;*/
        overflow-y: auto;
        top: 0px;
        bottom: 0px;
        display: inline-block;
        float: right;
        /*margin-bottom: 160px;
        padding-bottom: 150px;*/
	/*overflow-x: hidden;*/
}
div.data.hide {
    display: none;
}
table.data {
	color: white;
	font-family: Calibri,Helvetica,Arial;
	font-weight: bold;
	font-size: 18;
	color: #c5c6fd;
	background-color: #00274a;
	padding:20px;
	padding-top: 10px;
	border-spacing: 0px;
	width: 100%;

/*        max-height: 100%;*/
	box-shadow: 0px 8px 16px 0px rgba(0,0.15,0.29,0.2);
}
table.data td.caption {
/*	max-width: 150px;
        width: 120px;*/
}
table.data td.sub {
	width: 40px;
	text-align:right;
}
table.data td.desc {
	padding-left:20px;
}
table.data tr.entity {
}
table.data tr.highlight {
	background-color: #002240;
}
.system-data {
    /*max-height: 80%;*/
    overflow: auto;
    flex-grow: 2;
}
